body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#calc_container {
    display: flex;
    max-width: 250px;
    background-color: cornflowerblue;
    flex-wrap: wrap;
    border-radius: 7px;
}
#res {
    word-wrap: break-word;
    word-break: break-all;
    width: 220px;
    min-height: 20px;
    margin-top:30px;
    
    text-align: end;
    border-radius: 7px;
    background-color: white;
}
#res_container {
    width: 220px;
    min-height: 50px;
    margin-top:10px;
    margin-left: 10px;
    text-align: end;
    border-radius: 7px;
    background-color: white;
    padding: 5px;
}

#num_op_cont {
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
    margin-bottom: 10px;
   
}
.num_button {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}
.op_button {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}
#del_button {
    margin-top:10px;
    width: 110px;
    margin-left: 10px;
    border-radius: 7px;
}

#cl_button {
    margin-top:10px;
    width: 110px;
    margin-left: 10px;
    border-radius: 7px;
}

#res_button {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

#dot {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}